.s-about {
    padding: 90px 0 180px 0;

    .d-flex {
        justify-content: space-between;
        align-items: center;
        margin-top: 16rem;
    }

    &__image {
        width: 45%;
    }

    &__text {
        width: 50%;
        &-icon-brain {
            background-color: aliceblue;
            padding: 4px;
            border-radius: 4px;
            margin-bottom: 16px;
        }
        &-title {
            line-height: 120%;
            position: relative;
            font-size: 4rem;
            font-weight: 600;

            &::before {
                content: " ";
                position: absolute;
                width: 62px;
                height: 2px;
                bottom: -8px;
                background-color: #dedede;
            }
        }

        b {
            background-color: rgb(190, 223, 252);
            font-weight: 500;
        }
    }

    // responsive
    @include responsive($tablet) {
        padding: 90px 0;
        .d-flex {
            flex-direction: column-reverse;
            margin-top: 2.5rem;
        }

        &__image {
            width: 100%;
            margin-top: 4rem;
        }

        &__text {
            width: 100%;
            margin-top: 50px;

            p {
                text-align: left;
            }

            &-title {
                text-align: center;
                font-size: 3rem;
                &::before {
                    display: none;
                }
            }

            img {
                margin: 0 auto;
            }
        }
    }
}
