.s-consultations {
    background-color: #3e81d1;
    padding: 90px 0;
    margin: 20px;
    border-radius: 20px;
    .text-blue-light {
        color: #94c4ff;
    }

    .title-section {
        margin-bottom: 80px;
    }
    p {
        color: $white;
        opacity: 0.9;
    }
    .text-left {
        width: 45%;

        svg {
            background-color: #ffffff;
            padding: 5px;
            border-radius: 6px;
        }

        p {
            margin-top: 40px;
        }

        h3 {
            color: $white;
            font-size: 4.3rem;
            line-height: 55px;
            font-weight: 700;
        }
    }

    .text-right {
        width: 50%;

        .d-flex {
            align-items: start;
        }

        svg {
            margin-right: $gutter;
        }

        h4 {
            font-weight: 600;
            color: $white;
        }

        ul {
            li {
                margin-bottom: 20px;
                padding-bottom: 30px;

                border-bottom: 1px solid rgb(255, 255, 255);
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);

                &:last-child {
                    border: none;
                }

                div {
                    padding-left: 30px;
                }

                &::before {
                    content: "";
                    background-image: url("../img/check2.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    width: 2rem;
                    height: 1.5rem;
                    // display: flex;
                    margin-right: 10px;
                    margin-top: 4px;
                }
            }
        }
    }

    @include responsive($tablet) {
        margin: 10px;
        .d-flex {
            flex-direction: column;
        }
        .text-left {
            width: 100%;

            h3 {
                font-size: 3rem;
                line-height: 35px;
            }
        }

        .text-right {
            margin-top: 40px;
            width: 100%;
            .d-flex {
                flex-direction: row;
            }
        }
    }
}
